<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navBar">
        <a class="navbar-brand" href="#">Issue Tracker</a>
        <% if(loggedInUser.curuser === "QA"){ %>
        <a href="/api/create-ticket" id="createid">Create Issue</a>
        <% } %>

    </nav>

    <div class="main-container">
        <div class="issue-container" id="not-started">
            <div class="issue-states">
                <span>Not started</span>
            </div>

            <% const notStarted = allTickets.filter(e => e.status === 1) %>
            <% notStarted.forEach(e1 => { %>

            <div class="card text-white bg-info mb-3">
                <div class="card-body">


                    <h5 class="card-title">Assigned to : <%= e1.devname %></h5>
                    <h6 class="card-subtitle mb-2 text white">Issue title : <%= e1.title %></h6>
                    <h6 class="card-text">Description : <%= e1.desc %></h6>
                    <h6>ticket id : <%= e1.ticketid %></h6>
                    <!-- <h6><%= e1._id %></h6>
                    <h6><%= e1.status %></h6> -->

                    <a href="/api/change-state/<%= e1._id %>">change state</a>
                </div>
            </div>

            <%  }) %>

        </div>

        <div class="issue-container" id="in-progress">
            <div class="issue-states">
                <span>In progress</span>

            </div>
            <% const inprogress = allTickets.filter(e => e.status === 2) %>

            <% inprogress.forEach(e2 => { %>
            <div class="card text-white bg-info mb-3">
                <div class="card-body">

                    <h5 class="card-title">Assigned to : <%= e2.devname %></h5>
                    <h6 class="card-subtitle mb-2 text white">Issue title : <%= e2.title %></h6>
                    <h6 class="card-text">Description : <%= e2.desc %></h6>
                    <h6>ticket id : <%= e2.ticketid %></h6>
                    <!-- <h6><%= e2._id %></h6>
                    <h6><%= e2.status %></h6> -->

                    <a href="/api/change-state/<%= e2._id %>">change state</a>
                </div>
            </div>

            <%  }) %>

        </div>

        <div class="issue-container" id="resolved">
            <div class="issue-states">
                <span>Resolved</span>

            </div>

            <% const resolved = allTickets.filter(e => e.status === 3)%>

            <% resolved.forEach(e3 => { %>
            <div class="card text-white bg-info mb-3">
                <div class="card-body">

                    <h5 class="card-title">Assigned to : <%= e3.devname %></h5>
                    <h6 class="card-subtitle mb-2 text white">Issue title : <%= e3.title %></h6>
                    <h6 class="card-text">Description : <%= e3.desc %></h6>
                    <h6>ticket id : <%= e3.ticketid %></h6>
                    <!-- <h6><%= e3._id %></h6>
                    <h6><%= e3.status %></h6> -->
                    <% if(loggedInUser.curuser === "QA"){ %>
                    <a href="/api/change-state/<%= e3._id %>">change state</a>
                    <% } %>
                </div>
            </div>

            <%  }) %>


        </div>
        <div class="issue-container" id="done">
            <div class="issue-states">
                <span>Done</span>
            </div>

            <% const done = allTickets.filter(e => e.status === 4)%>

            <% done.forEach(e4 => { %>
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Assigned to : <%= e4.devname %></h5>
                    <h6 class="card-subtitle mb-2 text white">Issue title : <%= e4.title %></h6>
                    <h6 class="card-text">Description : <%= e4.desc %></h6>
                    <h6>ticket id : <%= e4.ticketid %></h6>
                    <!-- <h6><%= e4._id %></h6>
                    <h6><%= e4.status %></h6> -->
                    <a href="/api/change-state/<%= e4._id %>">change state</a>
                </div>
            </div>

            <%  }) %>

</body>

</html>